{{ ansible_managed | comment }}
# Ogni utente vede la propria radice e ha pieno accesso alle proprie
# collection (rubriche e calendari)

[principal]
user: .+
collection: {user}
permissions: R

[personal]
user: .+
collection: {user}/[^/]+
permissions: rw

# Rubrica e calendario condivisi: gli utenti di un dominio ({0} = il dominio
# estratto dalla regex su user) leggono e scrivono le collection di
# "shared@dominio"

[shared-principal]
user: .+@(.+)
collection: shared@{0}
permissions: R

[shared-books]
user: .+@(.+)
collection: shared@{0}/[^/]+
permissions: rw
